<!DOCTYPE html>
<html>
<head>
	<title>SoftUni App</title>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css\app.css"/>
</head>
<body ng-app="softUniModule" ng-controller="SoftUniController">
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
          <a href="#/ads" class="navbar-brand" ng-click="resetCategoryAndTown()">SoftUni App {{location.path()}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	<li>
              <a ng-click="resetCategoryAndTown()" href="#/ads">All Publish ads</a>
            </li>
            <li ng-if="(userData.username == undefined)">
              <a ng-click="resetCategoryAndTown()" href="#/login">login</a>
            </li>
            <li ng-if="(userData.username == undefined)">
              <a  ng-click="resetCategoryAndTown()" href="#/register">Register</a>
            </li>
            <li>
              <a ng-if="userData.username" href="#/user/home">My Ads</a>
            </li>
            <li>
              <a ng-if="userData.username" href="#/user/profile">My Profile</a>
            </li>
            <li>
              <a ng-if="userData.username" ng-click="logout()" href="#/ads">Logout</a>
            </li>  
          </ul>
          <div ng-if="userData.username" class="navbar-brand">Login as {{userData.username}}</div>
        </div>
    </div>
</div>
<div ng-view class="jumbotron">
</div>

<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="lib/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/MainController.js"></script>
<script type="text/javascript" src="js/controllers/loginController.js"></script>
<script type="text/javascript" src="js/controllers/AddEditAds.js"></script>
<script type="text/javascript" src="js/controllers/UserProfil.js"></script>
<script type="text/javascript" src="js/services/mainPage.js"></script>
</body>
</html>