<div class="jumbotron">
	<div class="row">
		<div class = "col-md-2">
			<div ng-if ="location.path() =='/ads'" class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Towns</h3>
                </div>
                <ul id="ul">
                	<div class="panel-body">
                		<li><a ng-click="setCurrTown(undefined, undefined)" href="">ALL</a></li>
                		<div ng-repeat="town in towns">
            			<li><a ng-click="setCurrTown(town.id, town.name)" href="">{{town.name}}</a></li>
            			</div>
                	</div>
                </ul>
            </div>
            <div ng-if ="location.path() =='/user/home'" class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Mange My Ads</h3>
                </div>
                <ul id="ul">
                	<div class="panel-body">
                		<li><a ng-click="setSelectedStatus(undefined)" href="">ALL</a></li>
                		<li><a ng-click="setSelectedStatus('Published')" href="">Published</a></li>
            			<li><a ng-click="setSelectedStatus('WaitingApproval')" href="">WaitingApproval</a></li>
            			<li><a ng-click="setSelectedStatus('Inactive')" href="">Inactive</a></li>
            			<li><a ng-click="setSelectedStatus('Rejected')" href="">Rejected</a></li>
            			<li><a ng-click="onAddNewClick()" href="">Add New Adds</a></li>
                	</div>
                </ul>
            </div>
		</div>
		<div class = "col-md-8">
			<div ng-if ="location.path() =='/ads'" class="container well">Show Ads for Category: {{currentCategoryName}} and Town {{currentTownName}}</div>
			<div ng-if ="location.path() =='/user/home'" class="container well">Show My Add in Status {{selectedStatus}}</div>
			<div class="container well">
				<ul id="ul">
					<li ng-repeat = "ad in showAdds.ads | 
					filter: {categoryId:currentCategory} :true | 
					filter: {townId:currentTown} :true |
					filter: {status: selectedStatus} : true">
						<div class="container well">
							<div class="row">
								<div class="col-md-7">
									<h3 class="pull-left">
										{{ad.title}}
									</h3>
								</div>
								<div class="col-md-5">
									<span class="pull-right">
										{{ad.date | date: "d-MMM-yyyy"}}
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="image-container">
										<img src="" ng-src="{{ad.imageDataUrl}}" class="_fullHD">
									</div>
								</div>
								<div class="col-md-8">
									<div class="well">
										{{ad.text}}
									</div>

									<div ng-if ="location.path() =='/ads'" class="row">
										<div class="col-md-4">
											<div  class="panel panel-default">
												<div class="panel-heading">Name:</div>
												<div class="panel-body">
		                							{{ad.ownerName}}
		                						</div>
											</div>
										</div>
										<div class="col-md-4">
											<div  class="panel panel-default">
												<div class="panel-heading">Email:</div>
												<div class="panel-body">
		                							{{ad.ownerEmail}}
		                						</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel panel-default">
												<div class="panel-heading">Tel:</div>
												<div class="panel-body">
		                							{{ad.ownerPhone}}
		                						</div>
											</div>
										</div>
									</div>
									<div ng-if ="location.path() =='/user/home'" class="row">
										<div class="col-md-4">
											<div class="panel panel-default">
												<div class="panel-heading">Category:</div>
												<div class="panel-body">
		                							{{ad.categoryName}}
		                						</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel panel-default">
												<div class="panel-heading">Town:</div>
												<div class="panel-body">
		                							{{ad.townName}}
		                						</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel panel-default">
												<div class="panel-heading">Status:</div>
												<div class="panel-body">
		                							{{ad.status}}
		                						</div>
											</div>
										</div>
									</div>

								<div ng-if ="location.path() =='/user/home'" class="row">
									<div class="col-md-12">
										<a ng-if ="ad.status =='Published'" ng-click="adsDeActiv(ad.id)" class="btn btn-default"  href="">Deactivate</a>
									
										<a ng-if ="ad.status !='Published'" class="btn btn-default" ng-click="adsEditClick(ad.id)" href="">Edit</a>
									
										<a ng-if ="ad.status !='Published' 
										&& ad.status !='WaitingApproval'" ng-click="adsRePublish(ad.id)" class="btn btn-default"  href="">Publish again</a>
									
										<a ng-if ="sad.status != 'Inactive'" class="btn btn-default" ng-click="adsDel(ad.id)" href="">Delete</a>

										<a class="btn btn-default" ng-click="adsActive(ad.id)" href="">Activate</a>
									
									</div>	

								</div>


									

								</div>
							</div>
						</div>
					</li>
				</ul>
				<ul class="pagination">
				    <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(1)">{{getText('first')}}</a></li>
				    <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(page - 1)">{{getText('previous')}}</a></li>
				    <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href ng-click="selectPage(page.number)">{{page.text}}</a></li>
				    <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(page + 1)">{{getText('next')}}</a></li>
				    <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(totalPages)">{{getText('last')}}</a></li>
				</ul>
			</div>
		</div>
		<div class = "col-md-2">
			<div  ng-if ="location.path() =='/ads'" class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Categories</h3>
                </div>
                <ul id="ul">
                	<div class="panel-body">
                		<li><a ng-click="setCurrCategory(undefined, undefined)" href="">ALL</a></li>
                		<div ng-repeat="cat in categories">
            			<li><a ng-click="setCurrCategory(cat.id, cat.name)" href="">{{cat.name}}</a></li>
            			</div>
                	</div>
                </ul>
            </div>
		</div>
	</div>
</div>