 <div class="row"> 
  <div class = "col-md-3"></div>
  <div class = "col-md-3">    
    <div class="well bs-component">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div ng-show="showsuccess" class="alert alert-success">Profile Update Susscessffyl.</div>
      <form class="form-horizontal" name="formEditProfile" ng-submit="ubdateProfile()" role="formEditProfile">
          <fieldset>
            <legend>Edit User Profile</legend>
            
            <div class="form-group">
              <label for="name" class="col-lg-3 control-label">Name</label>
              <div class="col-sm-7">
                <input name="name" class="form-control" id="inputName" placeholder="Name" type="text" ng-model="name" required>
                <span ng-show="formEditProfile.name.$dirty && formEditProfile.name.$error.required" class="help-block">Name is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Email</label>
              <div class="col-sm-7">
                <input name="email" class="form-control" id="inputEmail" placeholder="Email" type="email" ng-model="email" required>
                <span ng-show="formEditProfile.email.$dirty && formEditProfile.email.$error.required" class="help-block">Email is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="col-lg-3 control-label">Phone</label>
              <div class="col-sm-7">
                <input name="phone" class="form-control" id="inputPhone" placeholder="Phone" type="tel" ng-model="phone" required>
              </div>
            </div>
            <div class="form-group">
              <label for="town" class="col-lg-3 control-label">Town</label>
              <div class="col-sm-7">
                <select data-ng-options="t.name for t in towns" name="userTown" class="form-control" id="adstown" ng-model="userTown">
                </select>
                <br>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-7 col-lg-offset-3">
                <button type="submit" ng-disabled="formEditProfile.$invalid" class="btn btn-danger">Update</button>
            </div>
          </fieldset>
      </form>
    </div>
  </div>
  <div class = "col-md-5">
    <div class="well bs-component">
      <div ng-show="errorPass" class="alert alert-danger">{{errorPass}}</div>
      <div ng-show="showsuccessPass" class="alert alert-success">Password Update Susscessffyl.</div>
    
    <form class="form-horizontal" name="formEditPass" ng-submit="editPass()" role="formEditPass">
      <fieldset>
        <legend>Change Password</legend>

        <div class="form-group">
              <label for="oldPassword" class="col-lg-5 control-label">Old Password</label>
              <div class="col-sm-5">
                <input name="oldPassword" class="form-control" id="oldPassword" type="password" ng-model="oldPassword" required>
                <span ng-show="formEditPass.oldPassword.$dirty && formEditPass.oldPassword.$error.required" class="help-block">OLD Password is required</span>
              </div>
        </div>

        <div class="form-group">
              <label for="newPassword" class="col-lg-5 control-label">New Password</label>
              <div class="col-sm-5">
                <input name="newPassword" class="form-control" id="newPassword" type="password" ng-model="newPassword" required>
                <span ng-show="formEditPass.newPassword.$dirty && formEditPass.newPassword.$error.required" class="help-block">New Password is required</span>
              </div>
        </div>

        <div class="form-group">
              <label for="confNewPassword" class="col-lg-5 control-label">Confirm New Password</label>
              <div class="col-sm-5">
                <input name="confNewPassword" class="form-control" id="confNewPassword" type="password" ng-model="confNewPassword" required>
                <span ng-show="formEditPass.confNewPassword.$dirty && formEditPass.confNewPassword.$error.required" class="help-block">Confirm New Password is required</span>
              </div>
        </div>

        <div class="form-group">
              <div class="col-sm-7 col-lg-offset-5">
                <button type="submit" ng-disabled="formEditPass.$invalid" class="btn btn-danger">Change Password</button>
            </div>
      </fieldset>
    </form>
    
  </div>
</div>