<div class="well bs-component">
  <form class="form-horizontal">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="username" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input class="form-control" id="inputUsername" placeholder="Username" type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input class="form-control" id="inputPassword" placeholder="Password" type="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-primary">Login</button>
            <a ng-click="resetCategoryAndTown()" href="#/register">Register</a>
          </div>
        </div>
      </fieldset>
  </form>
</div>