 <div class="row"> 
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <div class="well bs-component">
      <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <div ng-show="showsuccess" class="alert alert-success">Advartisement submitted for approval. Once approved, it will be published.</div>
      <form class="form-horizontal" name="formAddAds" ng-submit="addNewAddOrEdit(adsId)" role="form">
          <fieldset>
            <legend ng-if ="location.path() =='/user/ads/publish'">Publish New Ads</legend>
            <legend ng-if ="location.path() =='/user/ads/edit'">Edit Ads {{adsId}}</legend>

            <div class="form-group">
              <label for="adstitle" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input name="adstitle" class="form-control" id="inputadstitle" placeholder="Title" type="text" ng-model="adstitle" required>
                <span ng-show="formAddAds.adstitle.$dirty && formAddAds.adstitle.$error.required" class="help-block">Title is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Text</label>
              <div class="col-lg-10">
                <textarea name="adstext" class="form-control" id="inputadstext" placeholder="Text" type="textarea" ng-model="adstext" required rows="3"></textarea>
                <span ng-show="formAddAds.adstext.$dirty && formAddAds.adstext.$error.required" class="help-block">Text is required</span>
              </div>
            </div>

            <div class="form-group">
              <label for="adstownId" class="col-lg-3 control-label">Town</label>
              <div class="col-sm-7">
                <select data-ng-options="t.name for t in towns" name="adstownId" class="form-control" id="adstown" ng-model="adstownId">
                  <option></option>
                  <option value={{town.id}} ng-repeat="town in towns">{{town.name}}</option>
                
                </select>
                <br>
              </div>
            </div>

            <div class="form-group">
              <label for="adscategoryId" class="col-lg-3 control-label">Category</label>
              <div class="col-sm-7">
                <select name="adscategoryId" class="form-control" id="adscategoryId" ng-model="adscategoryId">
                  <option></option>
                  <option value={{cat.id}} ng-repeat="cat in categories">{{cat.name}}</option>
                </select>
                <br>
              </div>
            </div>

            <div ng-if ="location.path() =='/user/ads/publish'" class="form-actions">
              <div class="col-lg-10 col-lg-offset-3">
                <button type="submit" ng-disabled="formAddAds.$invalid" class="btn btn-danger">Publish</button>
                <a href="#/ads">Cancel</a>
              </div>
            </div>

            <div ng-if ="location.path() =='/user/ads/edit'" class="form-actions">
              <div class="col-lg-10 col-lg-offset-3">
                <button type="submit" ng-disabled="formAddAds.$invalid" class="btn btn-danger">Edit</button>
                <a href="#/ads">Cancel</a>
              </div>
            </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>