 <div class="row"> 
  <div class = "col-md-3"></div>
  <div class = "col-md-6">    
    <div class="well bs-component">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <form class="form-horizontal" name="formregister" ng-submit="register()" role="formregister">
          <fieldset>
            <legend>Register</legend>
            <div class="form-group">
              <label for="username" class="col-lg-3 control-label">Username</label>
              <div class="col-sm-7">
                <input name="username" class="form-control" id="inputUsername" placeholder="Username" type="text" ng-model="username" required>
                <span ng-show="formregister.username.$dirty && formregister.username.$error.required" class="help-block">Username is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">Password</label>
              <div class="col-sm-7">
                <input name="password" class="form-control" id="inputPassword" placeholder="Password" type="password" ng-model="password" required>
                <span ng-show="formregister.password.$dirty && formregister.password.$error.required" class="help-block">Password is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputConfirmPassword" class="col-lg-3 control-label">Confirm Password</label>
              <div class="col-sm-7">
                <input name="confirmPassword" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" type="password" ng-model="confirmPassword" required>
                <span ng-show="formregister.confirmPassword.$dirty && formregister.confirmPassword.$error.required" class="help-block">Confirm Password is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-lg-3 control-label">Name</label>
              <div class="col-sm-7">
                <input name="name" class="form-control" id="inputName" placeholder="Name" type="text" ng-model="name" required>
                <span ng-show="formregister.name.$dirty && formregister.name.$error.required" class="help-block">Name is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Email</label>
              <div class="col-sm-7">
                <input name="email" class="form-control" id="inputEmail" placeholder="Email" type="email" ng-model="email" required>
                <span ng-show="formregister.email.$dirty && formregister.email.$error.required" class="help-block">Email is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="col-lg-3 control-label">Phone</label>
              <div class="col-sm-7">
                <input name="phone" class="form-control" id="inputPhone" placeholder="Phone" type="tel" ng-model="phone">
              </div>
            </div>
            <div class="form-group">
              <label for="town" class="col-lg-3 control-label">Town</label>
              <div class="col-sm-7">
                <select name="town" class="form-control" id="inputTown" ng-model="town">
                  <option></option>
                  <option value={{town.id}} ng-repeat="town in towns">{{town.name}}</option>
                </select>
                <br>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-7 col-lg-offset-3">
                <button type="submit" ng-disabled="formregister.$invalid || dataLoading" class="btn btn-danger">Register</button>
                 <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <a href="#/login" class="col-lg-offset-6">Login here</a>
            </div>
          </fieldset>
      </form>
    </div>
  </div>
</div>